{%- case currency_style -%}
  {%- when "money" -%}
    <div id="show_product_price" class="text-base text-gray-500">
      {%- if selected_variant.compare_at_price != blank -%}
        <span class="line-through mr-10">
          Compared Price: {{ selected_variant.compare_at_price | money }}</span>
      {%- endif -%}
      <span>Price: {{ selected_variant.price | money }}</span>
      {%- if selected_variant.compare_at_price > selected_variant.price -%}
        <span class="badge badge-success capitalize ">sale</span>

      {%- endif -%}
    </div>
  {%- when "money_with_currency" -%}
    <div id="show_product_price" class="text-base text-gray-500">
      {%- if selected_variant.compare_at_price != blank -%}
        <span class="line-through mr-10">
          Compared Price: {{ selected_variant.compare_at_price | money_with_currency }}</span>
      {%- endif -%}
      <span>Price: {{ selected_variant.price | money_with_currency }}</span>
      {%- if selected_variant.compare_at_price > selected_variant.price -%}
        <span class="badge badge-success capitalize ">sale</span>

      {%- endif -%}
    </div>
  {%- when "money_without_currency" -%}
    <div id="show_product_price" class="text-base text-gray-500">
      {%- if selected_variant.compare_at_price != blank -%}
        <span class="line-through mr-10">
          Compared Price: {{ selected_variant.compare_at_price | money_without_currency }}</span>
      {%- endif -%}
      <span>Price: {{ selected_variant.price | money_without_currency }}</span>
      {%- if selected_variant.compare_at_price > selected_variant.price -%}
        <span class="badge badge-success capitalize ">sale</span>
      {%- endif -%}
    </div>
  {%- else -%}
    <div id="show_product_price" class="text-base text-gray-500">
      {%- if selected_variant.compare_at_price != blank -%}
        <span class="line-through mr-10">
          Compared Price: {{ selected_variant.compare_at_price | money }}</span>
      {%- endif -%}
      <span class="mr-4">Price: {{ selected_variant.price | money }}</span>
      {%- if selected_variant.compare_at_price > selected_variant.price -%}
        <span class="badge badge-success capitalize ">sale</span>

      {%- endif -%}
    </div>
{%- endcase -%}